<footer>
    <div class="socials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 center">
                </div>
            </div>
        </div>
    </div>
    <div class="links">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-1  main center-mobile">
                </div>
                <div class="col-lg-3 col-md-3 main">
                </div>
                <div class="col-lg-3 col-md-3 offset-lg-1  urls center-mobile">
                    <h3>Quick links</h3>
                    <ul>
                        <li><a href="/home#team">Team</a></li>
                        <li><a [routerLink]="['/games']">Game Store</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 urls center-mobile">
                    <h3>Documents</h3>
                    <ul>
                        <li><a [routerLink]="['/home']">Test</a></li>
                    </ul>
                </div>
            </div>
            <div class="row credits">
                <div class="col-lg-12 text-center">
                    Copyright (C) {{year}} FUNDATION. All rights reserved.
                </div>
                
            </div>
        </div>
    </div>
</footer>